    <h1>Album Library</h1>
    <p>Find albums from your favorite artists!</p>

    <form method="get" action="#">
        <label for="">
            <input type="text" name="ArtistKeyword" placeholder="Search artist">
        </label>

        <button class="search-button" name="submit"> <img src="https://user-images.githubusercontent.com/60745348/109617050-31452e80-7b36-11eb-967f-489a999c2f4c.png" alt="search"></button>
    </form>