<!-- partials: to reuse the same code multiple times, like modules-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Music Albums</title>
<link rel="stylesheet" href=""> 