<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Album Library</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <link rel="manifest" href="/manifest.json">
    <script src="/script/script.js"></script>
    
    <link rel="icon" type="png" sizes="72x72" href="/img/albumLibraryIcon-72x72.png">
    <link rel="icon" type="png" sizes="16x16" href="/img/albumLibraryIcon-16x16.png">
    <link rel="icon" type="png" sizes="96x96" href="/img/albumLibraryIcon-96x96.png">
    <link rel="icon" type="png" sizes="128x128" href="/img/albumLibraryIcon-128x128.png">
    <link rel="icon" type="png" sizes="144x144" href="/img/albumLibraryIcon-144x144.png">
    <link rel="icon" type="png" sizes="152x152" href="/img/albumLibraryIcon-152x152.png">
    <link rel="icon" type="png" sizes="192x192" href="/img/albumLibraryIcon-192x192.png">
    <link rel="icon" type="png" sizes="348x348" href="/img/albumLibraryIcon-384x384.png">
    <link rel="icon" type="png" sizes="512x512" href="/img/albumLibraryIcon-512x512.png">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 

</head>
<body>