    <h1>Album Library</h1>
    <p>Find albums from your favorite artists!</p>

    <form method="get" action="#">
        <label for="">
            <input type="text" name="ArtistKeyword" placeholder="Search artist">
        </label>

        <button class="search-button" name="submit"> submit </button>
    </form>