<!DOCTYPE html>
<html lang="en">
<head>
    <!-- embeding the partial head.ejs in head -->
    <%- include('./partials/head.ejs'); %> 
</head>
<body>

<main>
    <div>
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

<footer>
    <%- include('./partials/footer.ejs'); %>
</footer>

</body>
</html>