<!DOCTYPE html>
<html lang="en">
<head>
    <!-- embeding the partial head.ejs in head-->
    <!-- the hyphen tells the ejs to render raw html -->
    <%- include('./partials/head.ejs'); %> 
</head>
<body>
    
<header>
    <%- include('./partials/header.ejs'); %> 
</header>

<main>
    <section>
        <h1>albums</h1>
        <p><%= title %></p>
    </section>
</main>

<footer>
    <%- include('./partials/footer.ejs'); %>
</footer>

</body>
</html>