<%- include('./partials/head.ejs'); %> 

<main class="error">
        <h1>Aho! 😞 </h1>
        <p><%= error %></p>
        <a href="/">Go back to home</a>
</main>

<%- include('./partials/footer.ejs'); %>
