<%- include('./partials/head.ejs'); %> 


<div class="error">
        <div>
                <h1>Aho! 😞 </h1>
                <p><%= error %></p>
                <a href="/">Go back to home</a>
        </div>  
</div>

<%- include('./partials/footer.ejs'); %>
