<!-- embeding the partial head.ejs in head-->
<!-- the hyphen tells the ejs to render raw html -->
<!-- partials: to reuse the same code multiple times, like modules-->
<%- include('./partials/head.ejs'); %> 

<header class="searchForm">
    <%- include('./partials/header.ejs'); %> 
</header>

<main>
    <!-- idea: maybe top artists of counrty on home page? -->
</main>

<%- include('./partials/footer.ejs'); %>
