<!DOCTYPE html>
<html lang="en">
<head>
    <!-- embeding the partial head.ejs in head-->
    <!-- the hyphen tells the ejs to render raw html -->
    <%- include('./partials/head.ejs'); %> 
</head>
<body>
    
<header class="searchForm">
    <%- include('./partials/header.ejs'); %> 
</header>

<main>
</main>

<footer>
    <%- include('./partials/footer.ejs'); %>
</footer>

</body>
</html>