<%- include('./partials/head.ejs'); %> 

<main class="error">
    <div>
        <h1>No internet connection ⚡️ </h1>
        <p>It seems that you are offline</p>
    </div>
</main>

<%- include('./partials/footer.ejs'); %>
